<p>À l'attention de Maître {notary_last_name}</p>
<p>Maître,</p>
<p>
  Je me permets de vous écrire au nom de Kléro Généalogie, un cabinet dédié à la
  recherche et à la récupération d'actifs non transmis lors du règlement de
  succession.
</p>
<p>
  Votre étude s'est chargée de régler la succession de {person_full_name} dont
  l'acte de notoriété a été établi le {person_don}. Toutefois, d'après nos
  recherches, nous avons localisé des fonds non connus par la famille n'aient
  pas été transmis aux héritiers. Nous n'en connaissons, pour le moment, ni le
  support (par ex. compte bancaire, assurance vie, plan épargne retraite,
  épargne salariale) ni le montant. Ces montants sont généralement limités (en
  moyenne 500€ sur les 500 dossiers traités à l'étude l'an dernier), mais il
  nous arrive de retrouver des montants plus conséquents.
</p>
<p>
  Agissant dans le cadre de la loi Eckert du 13 juin 2014 et n'étant pas mandaté
  à ce stade, nous avons besoin de rentrer en contact avec les héritiers pour
  débloquer lesdits fonds. Ainsi,
  <b>
    pouvez-vous transmettre mes coordonnées à l'un des héritiers afin que ce
    dernier puisse revenir vers moi pour de plus amples renseignements ?
  </b>
  Vous sachant tenu par le secret professionnel, nous tenions à vous préciser
  que nous ne vous demandons en aucun cas de nous transmettre des données
  confidentielles comme l'acte de notoriété ou les coordonnées des héritiers.
</p>
<p>
  Nous tenons à souligner, conformément à la loi Eckert, l'importance cruciale
  de fournir une information complète aux héritiers pour le règlement équitable
  des successions. Vous remerciant par avance de votre concours et restons à
  votre disposition si vous souhaitez échanger avec nous par courriel ou
  téléphone à ce sujet.
</p>
<p>Salutations distinguées,</p>
