<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Signature</title>
  </head>

  <body>
    <div style="font-family: Calibri, sans-serif; color: #333">
      <table cellpadding="0" cellspacing="0">
        <tr>
          <td
            style="
              padding-right: 15px;
              border-right: 2px solid #ccc;
              vertical-align: top;
            "
          >
            <img src="{image_link}" width="90" height="120" style="width: 90px; height: 120px" />
          </td>
          <td style="padding-left: 15px; vertical-align: top">
            <p style="margin: 0">
              <span style="color: #445ba7"><b>{name}, </b></span><i>{charge}</i>
            </p>
            <p style="margin: 0">
              <span style="color: #445ba7"><b>Téléphone:</b></span> {phone}
              Prendre rendez-vous directement ici:
              <a href="{calendly_link}">calendly</a>
            </p>
            <p style="margin: 0">
              <span style="color: #445ba7"><b>Email et site web:</b></span>
              <a href="mailto:{email}" style="color: #0000ee">{email}</a> |
              <a href="https://www.klero.fr" style="color: #0000ee"
                >www.klero.fr</a
              >
            </p>
            <p style="margin: 0">
              <span style="color: #445ba7"><b>p/o:</b></span> Jean-Michel
              Branche, Gérant Klero Généalogie,
              <a
                href="https://www.avocatparis.org/annuaire/avocat?cnbf=2nWRmtPEdadV+CSnc4jCEA=="
                style="color: #0000ee"
                >Avocat honoraire</a
              >
            </p>
            <p style="margin: 0">
              295 Rue Saint-Jacques, 75005 Paris (siège social)
            </p>
            <p style="margin: 0">
              Tour Montparnasse, 27ème étage, 33 Av. du Maine, 75015 Paris (sur
              rendez-vous)
            </p>
          </td>
        </tr>
      </table>
      <div
        style="
          background-color: #445ba7;
          text-align: left;
          padding: 10px;
          margin-top: 20px;
        "
      >
        <img
          src="https://drive.google.com/uc?export=view&id=1Z4E-R3MxulRpkMQa4qNAV2LoFrKUxTgo"
          alt="KLERO GÉNÉALOGIE"
          height="75"
          style="height: 75px; border: 3px solid white"
        />
      </div>
      <p style="font-size: 13px; color: #555">
        Ce message électronique et tout fichier joint sont confidentiels et
        destinés exclusivement à l'usage de la personne ou de l'entité à qui ils
        sont adressés. Si vous n'êtes pas le destinataire prévu, toute
        divulgation, copie, distribution ou prise de mesure fondée sur le
        contenu de cet e-mail est strictement interdite et peut être illégale.
        Si vous avez reçu ce message par erreur, veuillez nous en informer
        immédiatement par retour d'e-mail et supprimer le message original ainsi
        que toute copie de celui-ci.
      </p>
    </div>
  </body>
</html>
