<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notification</title>
  </head>
  <body>
    <p>Bonjour,</p>
    <p>
      votre société de pompes funèbres s'est chargée d'accompagner la famille de
      {person_full_name} décédé le {person_dod} lors de ses obsèques, selon
      l'acte de décès du défunt que vous trouverez ci-dessous.
    </p>
    <p>
      Notre cabinet de généalogie a identifié des actifs bancaires n'ayant pas
      été transmis à ses ayants droit au moment du règlement de la succession:
      probablement un compte bancaire, une épargne salariale ou une assurance
      vie qu'une banque ou une compagnie d'assurance a fait remonté dans les
      bases de données bancaires après le décès. En raison du secret bancaire,
      nous n'en connaissons pour le moment ni le montant ni l'origine. Ces
      montants sont généralement limités (en moyenne 500€-1000€ sur les 500
      dossiers traités à l'étude l'an dernier), mais il nous arrive de retrouver
      des montants plus conséquents.
    </p>
    <p>
      Ainsi, pourriez-vous transmettre mes coordonnées à l'un des héritiers afin
      que ce dernier puisse revenir vers moi pour de plus amples renseignements
      ? Vous sachant tenu par le secret professionnel, nous tenions à vous
      préciser que nous ne vous demandons en aucun cas de nous transmettre des
      données confidentielles comme les coordonnées des héritiers.
    </p>
    <p>
      Nous tenons à souligner, conformément à la loi Eckert, l'importance
      cruciale de fournir une information complète aux héritiers pour le
      règlement équitable des successions. Vous remerciant par avance de votre
      concours et restons à votre disposition si vous souhaitez échanger avec
      nous par courriel ou téléphone à ce sujet.
    </p>
    <p>Salutations distinguées,</p>
  </body>
</html>
